# Virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc

# Log files
*.log

# Media files
media/

# Django specific
*.sqlite3
db.sqlite3

# Static files
staticfiles/

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS specific files
.DS_Store